*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.homepage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
nav{
    width: 75%;
    height: 100px;
    /* background-color: brown; */
    margin: 0% auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.call{
    
    width: 25%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call i{
    font-size: 50px;
}
.logo{
    width: 25%;
    height: 75%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center; */
}
.logo img{
    width: 40%;
    height: 40%;
}
nav a{
    text-decoration: none;
    color: black;
}
.home{
    width: 40%;
    height: 60px;
    /* background-color: brown; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home li{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home li a{
    text-decoration: none;
    color: black;
}
.background{
    width: 100%;
    height: 700px;
    /* background-color: brown; */
    position: relative;

}
.background img{
    width: 100%;
    height: 100%;
}
.content{
    width: 25%;
    height: 250px;
    margin: 0 auto;
    /* background-color: aqua; */
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn-1{
    width: 30%;
    height: 50px;
    color: #02A9F7;
}
.flex-2{
    /* background-color: coral; */
    width: 70%;
    height: 600px;
    margin: 0 auto;
}
.product-2{
    /* background-color:wheat; */
    width:85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.head-1{
    /* background-color: white; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-1{
    /* background-color: aqua; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.images{
    /* background-color: black; */
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
    font-size: 15px;
}
.cost{
    height: auto;
    width: auto;
    color: orangered;
    display: flex;
    justify-content: space-between;
}
.img-1{
    width: 100%;
    height: 275px;
    border-radius: 13px;
}
.img-2{
    width: 100%;
    height: 275px;
    border-radius: 13px;
    position: absolute;
}
.images a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
}
.images a h4:hover{
    color: #02A9F7;
    transition: 0.2s;
}
.color-picker{
    /* background-color: black;  */
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.color-picker a{
    width: 18%;
    height: 100%;
}
.color-picker a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.color-1{
    background-color:purple;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.color-2{
    background-color:violet;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.color-3{
    background-color:black;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.color-4{
    background-color:pink;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.color-5{
    background-color:#EBEBEB;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.color-6{
    background-color:red;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.color-7{
    background-color:green;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.color-8{
    background-color:blue;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.color-9{
    background-color:yellow;
    width: 15%;
    height: 100%;
    border-radius: 50%;
}
.icons{
    width: 80%;
    height: 45px;
    /* background-color:wheat; */
    position: absolute;
    bottom:40%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    opacity: 0;
}
.icons a{
    width: 22%;
    height: 100%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: white;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.icons a:hover{
    color: white;
    background-color: #02A9F7;
    transition: 0.2s;
}
.images:hover .icons{
    opacity: 1;
    transition: 0.3s;
    transform: translateY(10px);
}
.images:hover .img-2{
    opacity: 0;
    transition: 0.3s;
}
.offer{
    color: #02A9F7;
    width: 180px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: #02A9F7; */
}
.offer del{
    color: #838383;
}
.btn-2{
    /* background-color: #02A9F7; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-2 button{
    padding: 12px 30px;
    color: white;
    background-color: hsl(12, 98%, 49%);
    border: 1px solid black;
    border: 1px solid #02A9F7;
    border-radius: 6px;
}
.btn-2 button:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}
.video-game{
    width: 70%;
    height: 600px;
    margin: 0 auto; 
     /* background-color:red; */
}
.vg-div{
    width:100% ;
    height:90%;
     background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-item{
    width: 85%;
    height: 75%;
    /* background-color: #02A9F7; */
    display: flex;
    align-items: center;
}
.vg-container{
    width: 50%;
    height: 80%;
    /* background-color: #575757; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
}
.vg-container h3{
    font-size:18px;
}
.vg-container h1{
    font-size:28px;
}
.vg-container p{
    line-height: 22px;
    padding-right: 20px;
}
.vg-img{
    width: 60%;
    height: 450px;
    border-radius: 20px;
}
.decration{
    width: 75%;
    height: 100PX;
    /* background-color: red; */
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}
.decration img{
    width: 5%;
    height: 43%;
}
.quotes-div{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.quotes{
    width: 100%;
    height: 100%;
    background-color: #EBEBEB;
    margin: 0 auto 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    padding: 20px 150px;
}
.quotes i{
    font-size: 40px;
}
.quotes p{
    text-align: center;
    font-size: 25px;
}
.blog-div{
    width: 90%;
    height: 400px;
    /* background-color: #016FA3; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 30px;
    margin: 0 auto;
}
.blog-div h2{
    font-size: 30px;
}
.blog{
    width: 100%;
    height: 90%;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.blog-product{
    width: 33%;
    height: 100%;
    /* background-color: #41BEF9; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog-img{
    width: 100%;
    height: 60%;
    border-radius: 15px;
    overflow: hidden;
}
.blog-img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.blog-date{
    width: 40%;
    height: 20px;
    /* background-color: red; */
    display: flex;
    gap: 5px;
    font-size: 10px;
    font-weight: 600;
}
.blog-product a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight:600;
}
.blog-product a:hover{
    color: #41BEF9;
    transition: 0.2s;
}
.blog-img img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.foot-collection{
    width: 70%;
    height: 20%;
    background-color:white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.foot-items{
    width: 22%;
    height: 70%;
    /* background-color: yellow; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.foot-items img{
    width: 35%;
    height: 50%;
}
.blog-1{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
}
.blog-product{
    width: 17%;
    height: 100%;
}
.insta{
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.foot{
    width: 100%;
    height: 500px;
    background-color: #EBEBEB;
    margin-top: 50px;
    display: flex;
}
.about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.about-icons{
    width: 10px;
    height: 15px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}
.minimalin{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-flex{
    display: flex;
    width: 75%;
    margin: 30px auto;
    gap: 50px;
}
.footer-payment{
    width: 50px;
    display: flex;
    flex-direction: row;
}
.logo-img{
    width:20%;
    height: 10%;

}
.NewsLetter{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.NewsLetter div{
    display: flex;
}
footer{
    width: 100%;
    height: 30px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    background-color: #EBEBEB;
}
.rights{
    width: 30%;
    display: flex;
}
.terms{
    width: 30%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}
.terms a{
    text-decoration: none;
    color: #838383;
}
@media(max-width:1200px){
    .call{
        display: none;
    }
    .blog-div h2{
        margin-top: 40px;
    }
    .blog-product{
        width: 32%;
    }
    .blog{
        justify-content: space-between;
    }
    .home{
        justify-content: center;
    }
    .blog-1{
        align-items: center;
    }
    .logo{
        width: 49%;
    }
    .home{
        /* align-items: center; */
        width: 69%;
    }
    .background{
        height: 549px;
    }
    .flex-2{
        width: 105%;
    }
    .vg-div{
        width: 115%;
        margin: 0 auto;
    }
    .decration{
        width: 90%;
        margin: 0 auto;
    }   
}